{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Mascotas 
{% endblock %} 

{% block content %}

    <div class ="container">

      <h2 class="text-center mt-2">Buscar mascota</h2>
      <!-- Formulario de búsqueda -->
      <div class="d-flex flex-column align-items-center mb-2">
          <form action="" method="GET">
              <input type="text" name="q" placeholder="Buscar..." required>
              <button type="submit">Buscar</button>
          </form>
      </div>

      <a href="{% url 'mascota-form' %}" class="btn btn-primary">Crear Mascota</a>


        <table class="table">
            <thead>
              <tr table class="table-primary"> 
        
                <th scope="col">Especie</th>
                <th scope="col">Raza</th>
                <th scope="col">Edad</th>
              </tr>
            </thead>
            <tbody>
                {% for mascotas in mascota %}
              <tr table class="table-success">
                <td>{{ mascotas.especie }}</td>
                <td>{{ mascotas.raza }}</td>
                <td>{{ mascotas.edad }}</td>
              </tr>
              <tr>
                {% endfor %}
            </tbody>
          </table>

    
    </div>




{% endblock %}