{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Productos 
{% endblock %} 

{% block content %}


<div class ="container">

  <h2 class="text-center mt-2">Buscar mascota</h2>
  <!-- Formulario de búsqueda -->
  <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
          <input type="text" name="q" placeholder="Buscar..." required>
          <button type="submit">Buscar</button>
      </form>
  </div>
  
  <a href="{% url 'producto-form' %}" class="btn btn-primary">Crear Prodcuto</a>

    <div class ="container">
        
        <table class="table">
            <thead>
              <tr table class="table-primary"> 
        
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
              </tr>
            </thead>
            <tbody>
                {% for productos in producto %}
              <tr table class="table-success">
                <td>{{ productos.nombre }}</td>
                <td>{{ productos.precio }}</td>
                <td>{{ productos.categoria }}</td>
              </tr>
              <tr>
                {% endfor %}
            </tbody>
          </table>


    </div>

{% endblock %}