{% extends "app_vete/base.html" %}
{% load static %}

{% block title %} 
Pet Vet | Editar Mascota
{% endblock %} 

{% block content %}


<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">

            <form method="post">
                {% csrf_token %}

                {{ mascota_form.as_p }}

                <button class="nav-link btn btn-primary" type="submit">Editar</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}