{% extends 'app_vete/base.html' %}

{% block title %} 
Pet Vet | Registro exitoso 
{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .btn {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>¡Registro Exitoso!</h1>
    
    <a href="{% url 'inicio' %}" class="btn">Ir al Inicio</a>
</body>
</html>

{% endblock  %}